---
layout: page
title: Labels
permalink: /tags/
---
{% include widget_tag_cloud.html title="Tag cloud" min_count=2 %}

<p class="post-meta">{{ site.tags | size }} labels across {{ site.posts.size }} posts.</p>

{% include widget_tags_freq.html title="By frequency" %}
{% include widget_tags_alpha.html title="A–Z" %}

<hr>

{%- assign _tags = site.tags | sort -%}
{%- for tag in _tags -%}
<h3 id="{{ tag[0] | slugify }}" class="tag-heading">{{ tag[0] }} <span class="count">{{ tag[1].size }}</span></h3>
<ul>
  {%- for post in tag[1] -%}
  <li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> <small class="post-meta">{{ post.date | date: '%Y-%m-%d' }}</small></li>
  {%- endfor -%}
</ul>
{%- endfor -%}
